textarea {
  font-family: monospace;
  height: auto;
}

canvas {
  /* background: red; */
  /* width: 100%;
  max-height: 100vh; */
}

canvas {
  margin: 0 2rem 2rem 2rem;
  image-rendering: pixelated;
}

body {
  min-height: 150vh;
}

input[type=range] {
  height: 3.8rem;
}
